@model Medicalreferrals.Models.ReferralSocialGroup


@{
    Layout = null;
}

<div class="create-item">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ReferralSocialGroupId)
    @Html.HiddenFor(model => model.ReferralId)

    <div class="col-sm-12 col-md-12 col-lg-12 border-box">
        <div class="form-group">
            @Html.LabelFor(model => model.SocialGroupId, new { @class = "control-label" })
            @(Html.Kendo().ComboBoxFor(model => model.SocialGroupId)
                    .DataTextField("Text")
                    .DataValueField("Value")
                    .Filter(FilterType.StartsWith)
                    .BindTo(ViewBag.vbSocialGroups)
                    .HtmlAttributes(new { data_value_primitive = true, @class = "input-item" })
            )
            @Html.ValidationMessageFor(model => model.SocialGroupId, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 border-box">
        <div class="form-group">
            @Html.LabelFor(model => model.SocialGroupNumber, new { @class = "control-label" })
            @Html.EditorFor(model => model.SocialGroupNumber)
            @Html.ValidationMessageFor(model => model.SocialGroupNumber, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="clear"></div>

    <div class="form-group margin-10-0">
        <div class="col-xs-4 border-box"></div>
        <div class="col-xs-8 border-box align-right">
            <button id="rsgtSave" class="k-button"><i class="glyphicon glyphicon-floppy-disk"></i>Հիշել</button>
            <button id="rsgtCancel" class="k-button"><i class="glyphicon glyphicon-off"></i>Ելք</button>
        </div>
    </div>
    <div class="clear"></div>

</div>

<script>
    $(document).ready(function () {
        $("#SocialGroupNumber").addClass("input-item");

        $("#rsgtCancel")
            .click(function () {
                if ($(this).closest(".k-window-content").data("kendoWindow"))
                    $(this).closest(".k-window-content").data("kendoWindow").close();
            });
        $("#rsgtSave")
            .click(function (e) {
                var item = new Object();
                item.ReferralSocialGroupId = '@Model.ReferralSocialGroupId';
                item.ReferralId = '@Model.ReferralId';
                item.SocialGroupId = $("#SocialGroupId").val();
                item.SocialGroupNumber = $("#SocialGroupNumber").val();

                var rt = false;
                var dt;
                var q = $.ajax({
                    url: '@Url.Action("SaveReferralSocialGroup", "ReferralSocialGroup")',
                    dataType: "json",
                    type: "POST",
                    data: JSON.stringify({ referralSocialGroup: item }),
                    contentType: "application/json; charset=utf-8",
                    async: false,
                    success: function (data) {
                        dt = data;
                        rt = true;
                    },
                    error: function (xhr) {
                        dt = xhr;
                        rt = false;
                    }
                });
                if (rt == true) {
                    if (dt != "1") {
                        alert(JSON.stringify(dt));
                    }
                    else {
                        if ($(this).closest(".k-window-content").data("kendoWindow"))
                            $(this).closest(".k-window-content").data("kendoWindow").close();
                    }
                }
                else {
                    alert(dt);
                    return false;
                }
            });
    });
</script>
